[Unit]
Description=Update Podfox
Requires=network-online.target
After=network-online.target


[Service]
Type=oneshot
IOSchedulingClass=idle
CPUSchedulingPolicy=idle
User=markr

WorkingDirectory=/home/markr/work/personal/credfeto-podfox
ExecStart=/home/markr/work/personal/credfeto-podfox/update
