[Unit]
Description=Update Podfox

[Timer]
OnCalendar=hourly
Persistent=true
AccuracySec=1us
RandomizedDelaySec=1200

[Install]
WantedBy=timers.target
